body {
  padding: 0;
  margin: 0;
}

.header--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background: #FFF7ED;
}

.header--container li {
  list-style-type: none;
}

.header--container nav li a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 23px;
  text-align: right;
  color: #4D4D4D;
}

.header--container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}



.header--container a {
  text-decoration: none;
}

.logo a {
  color: #000000;
  font-size: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}

.footer--container {
  display: flex;
  height: 75px;
  width: 100%;
  background: #252525;
}

footer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #AAAAAA;
  margin: auto;
}

.main--container {
  background-image: url(/src/assets/images/home-hero.png);
  background-size: cover;
  height: 79.5vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main--container h1 {
  margin: auto;
  margin-bottom: 40px;
  width: 700px;
  height: 84px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 50px;
  color: #FFFFFF;
}

.main--container h4 {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 700px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.find--van--homepage-link {
  margin: auto;
  margin-top: 40px;
  width: 700px;
  padding: 15px;
  background: #FF8C38;
  border-radius: 5px;
}

.main--container p {
  width: 600px;
  height: 30.09px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.about--container {
  gap: 40px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.about--container img {
  width: 100%;
  height: 600px;
}

.about--container h1 {
  margin: auto;
  width: 600px;
  margin-bottom: 20px;
  height: 76px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #161616;
}

.about--container h4 {
  margin: auto;
  width: 600px;
  height: 154px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #161616;
}

.about--bottom--section {
  margin: 80px auto;
  background: #FFCC8D;
  border-radius: 5px;
  width: 600px;
  padding: 20px;
}

.about--bottom--section h2 {
  width: 600px;
  height: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #161616;
}

.about--bottom--section p {
  width: 130px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15.9462px;
  line-height: 24px;
  color: #FFFFFF;
  margin: auto;
}

.explore--vans--about--page--link {
  padding: 10px;
  width: 200px;
  display: flex;
  background: #161616;
  border-radius: 10px;
}

.main--vans--container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.vans--layout--container {
  display: flex;
  flex-direction: column;
}

.vans--layout--container h1 {
  width: 494.33px;
  height: 34px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 34px;
  color: #161616;
  padding: 20px;
}

.vans--layout--container nav {
  width: 100%;
}

.vans--layout--container nav ul {
  display: flex;
  flex-direction: row;
  width: 98%;
  justify-content: space-between;
  padding: 20px;
}

.vans--layout--container .vans--filter--buttons {
  width: 200px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #4D4D4D;
  background: #FFEAD0;
  border-radius: 5px;
  padding: 10px;
  list-style-type: none;
}

.vans--layout--container nav ul li a {
  text-decoration: none;
  color: #4D4D4D;
}

.vans--layout--container .clear--filters--link {
  text-decoration-line: underline;
  width: 200px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #4D4D4D;
  border-radius: 5px;
  padding: 10px;
  list-style-type: none;
}

.vans--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.van--container {
  width: 800px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: center;
}

.van--container a {
  text-decoration: none;
}

.van--container img {
  width: 100%;
  border-radius: 5px;
}

.van--info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.van--info h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  color: #161616;
}

.per--day--text--styling {
  font-family: 'Maven Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  align-items: center;
  text-align: right;
  color: #161616;
}

.van--container p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: #FFEAD0;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
}

.van--details--container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 30vh;
  margin-left: 500px;
}

.van--details--container img {
  width: 60%;
  height: 600px;
}

.van--details--container p {
  width: 300px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFEAD0;
  border-radius: 5px;
  padding: 10px;
}

.van--details--container h1 {
  width: 494.33px;
  height: 34px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  color: #161616;
}

.van--details--container h2 {
  width: 494.33px;
  height: 45px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  color: #161616;
}

.van--details--container span {
  font-weight: 400;
}

.van--details--container h4 {
  width: 494.33px;
  height: 120px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
}

.rent-this-van-link {
  width: 600px;
  padding: 20px;
  background: #FF8C38;
  border-radius: 5px;
}

.host--layout--container {
  padding: 20px;
  background: #FFF7ED;
}

.listen--vans--title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 34px;
  color: #161616;
  padding: 20px 0;
}

.host--layout--container nav a {
  text-decoration-line: none;
  width: 200px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 24px;
  text-align: center;
  color: #4D4D4D;
  border-radius: 5px;
  padding: 10px;
}

.host--content {
  min-height: 80vh;
  background: #FFF7ED;
  padding: 20px;
}

.host--vans--container a {
  text-decoration: none;
}

.host--van--container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 700px;
  height: 350px;
  background: #FFFFFF;
  border-radius: 6px;
  margin: 30px;
  padding: 40px;
}

.host--van--container img {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  margin: auto;
}

.host--van--container h2 {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #161616;
}

.host--van--container h3 {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #4D4D4D;
}

.host--van--text {
  margin: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.host--van--details--page {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 40px;
}

.selected--host--van--container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 40px;
  background: #FFFFFF;
  border-radius: 6px;
}

.selected--host--van--container img {
  width: 400px;
  border-radius: 5px;
}

.selected--host--van--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selected--host--van--info p {
  width: 100px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #FFEAD0;
  border-radius: 5px;
  padding: 10px;
}

.selected--host--van--info h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 27px;
  color: #161616;
}

.selected--host--van--info h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26.0583px;
  line-height: 27px;
  color: #161616;
}

.selected--host--van--info span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16.2864px;
  line-height: 36px;
  color: #161616;
}

.host--nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.host--nav a {
  text-decoration-line: none;
  width: 200px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 24px;
  text-align: center;
  color: #4D4D4D;
  border-radius: 5px;
  padding: 33px;
  margin-right: 50px;
}

.host--selected--van--details--price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #161616;
}

.host--selected--van--details--price span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #4D4D4D;
}

.padding-for-host-van-inner-nav-items {
  padding: 33px;
}

.host--van--id--photo {
  width: 300px;
}

.host--van--id--info h3 {
  margin: 0;
  padding: 10px;
  padding-left: 33px;
}

.host--van--id--info {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #161616;
}

.host--van--id--info span {
  font-weight: 500;
}

.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 26px;
  font-size: 20px;
}

.not--found--page--container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}

.not--found--error--title {
  width: 600px;
  margin: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #161616;
  margin-bottom: 0;
}

.return--home--from--not--found--page {
  font-family: 'Inter';
  margin: auto;
  color: white;
  padding: 20px;
  width: 600px;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}

.error--container {
  min-height: 80vh;
  display: flex;
}

.error--container h1,
.error--container pre {
  margin: auto;
}

.login--container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.login--title {
  margin: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 24px;
  text-align: center;
  color: #161616;
  margin-bottom: 30px;
}

.login--form {
  margin: auto;
}

.signup--inputs--container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.signup--inputs--container input {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  color: #4D4D4D;
  flex-grow: 0;
  padding: 20px;
  padding: 9px 13px;
  width: 494px;
  height: 42px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.Email--input--login {
  border-radius: 6px 6px 0px 0px;
  border-bottom: none;
}

.Password--input--login {
  border-radius: 0px 0px 6px 6px;
}

.login--form button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;
  color: #FFFFFF;
  width: 530px;
  height: 55px;
  background: #FF8C38;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  border: none;
  margin-top: 30px;
}

.login--error--message {
  margin:0 auto;
  color: red;
  font-size: 18px;
  font-weight: bold;
}